@import url("https://uilight.netlify.app/main.css");
@import url("./components/Navbar/Navbar.css");
@import url("./components/QuizCard/QuizCard.css");
@import url("./components/Footer/Footer.css");
@import url("./components/QuestionAnswer/QuestionAnswer.css");
@import url("./components/Auth/Auth.css");
@import url("./pages/Result.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

:root {
  --primary-color: #3a3a3c;
  --secondary-color: #9f4393;
  --bg-color: #23232c;
  --accent-color: #3a3b89;
  --text-color-primary: #f8f7f8;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}
